<!--------------------------------------------------------------------------------------------------------------------->
<!-- App                                                                                                             -->
<!--------------------------------------------------------------------------------------------------------------------->

<template>
	<div id="app">
		<site-header></site-header>
		<router-view class="container-fluid"></router-view>
	</div>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss" scoped>
	#app {
		padding-top: 56px;
	}
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script>
	//------------------------------------------------------------------------------------------------------------------

	// Components
	import SiteHeader from './components/header.vue'

	//------------------------------------------------------------------------------------------------------------------

	export default {
		components: {
			SiteHeader
		}
	}
</script>

<!--------------------------------------------------------------------------------------------------------------------->
