<!--------------------------------------------------------------------------------------------------------------------->
<!-- header.vue                                                                                                         -->
<!--------------------------------------------------------------------------------------------------------------------->

<template>
	<b-navbar id="site-header" toggleable="md" type="dark" variant="info" fixed="top">
		<b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

		<b-navbar-brand href="#">SoundQ</b-navbar-brand>

		<b-collapse is-nav id="nav_collapse">

			<b-navbar-nav>
				<b-nav-item href="#">Link</b-nav-item>
			</b-navbar-nav>

			<!-- Right aligned nav items -->
			<b-navbar-nav class="ml-auto">
				<b-nav-item-dropdown right no-caret>
					<!-- Using button-content slot -->
					<template slot="button-content">
                        <font-awesome-icon icon="ellipsis-v"></font-awesome-icon>
					</template>
					<b-dropdown-item href="#">Profile</b-dropdown-item>
					<b-dropdown-item href="#">Signout</b-dropdown-item>
				</b-nav-item-dropdown>
			</b-navbar-nav>
		</b-collapse>
	</b-navbar>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss" scoped>
	#site-header {
    }
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script>
    //------------------------------------------------------------------------------------------------------------------

    // Imports go here

    //------------------------------------------------------------------------------------------------------------------

    export default {
        data()
        {
            return {
                // Data goes here
            };
        }
    }
</script>

<!--------------------------------------------------------------------------------------------------------------------->
